
body{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
/* navbar */
.img{
    width: 15%;
}
.navbar-brand{
    font-weight: 500;
    font-size: 30px;
}
.btn{
    font-weight: 500;
}
/* header-area */
.manu-type{
    padding-left: 20px;
    font-size: 20px;

}
.card{
    position: relative;
    background-color: white;
    border: none;
    border-radius: 0;
    width: 100%;
}

/* slider section */
.slider-section{
    background: url(img/mbr-10.jpg) no-repeat center center;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;

}
.slider-caption h2{
    margin-bottom: 50px;
    font-size: 46px;
}
.color-white{
    color: white;
}
.slider-caption h4{
    margin-bottom: 50px;
}
.slider-caption .btn{
    background: #5ba533;
    border-color:  #5ba533;;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 6px;
    color: white;
}
.slider-caption .form-control{
    padding: 18px 20px;
}

/* About-section */
.about-section{
    background-color: #f7f9ff;
    
}
.about-text-left{
    margin-top: 100px;
}
.about-text-left .lead{
    
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 400;
}
/* feature-section-css */
.feature-item{
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.left-img-sec{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.left-text-sec{
    width: 60%;
    padding: 25px;
}
.left-img-sec img {
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -80px;
}
.lead{
    font-size: 25px;
}
h1,h2{ 
    
    font-size: 3rem;
    line-height: 1.4;
}
h4{
    color: grey;
    font-size: 1.6rem;
    line-height: 1.5;
}
h5{
    font-size: 26px;
}
/* portfolio-section */
.portfolio-item{}
.portfolio-item a{
    position: relative;
    display: block;
}
.portfolio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(98, 120, 223,.7);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.portfolio-item:hover a::after{
    opacity: 1;
    visibility: visible;
}

.min-section-bg{
    background-color: #f7f9ff;
}

/* price-section */
.pricing-item{
    background-color: white;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    border-radius: 5px;
}
.pricing-item h1{}
.pricing-item h5{}
.pricing-item ul{ 
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 45px;
}
.pricing-item ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #777;
}
.pricing-item ul li span{
    color: #657be0;
    font-size: 25px;
    font-weight: bold;
    width: 40px;
    display: inline-block;
}
.item-btn{}
.item-btn a{}


/* testimonial-section */
.author-info{
    width: 220px;
    margin: auto;
    float: left;
}
.author-info img{
    float: left !important;
    width: 85px;
    margin-right: 18px;
} 
.people-step2{
    text-align: left;
    position: relative;
    top: 10px;
}
/* About section */
.text-item{
    font-size: 24px;
    line-height: 1.5;
}
.col{

}
.card{

}
.card img{
    width: 50%;
}
.btn.btn-outline-dark.shadow {
    border: none;
    box-shadow: 2.5px 4.33px 30px 0 rgb(111, 111, 206);
    padding: 15px 20px;
}
.p-type{
    font-size: 25px;
    color: gray;
}

/* content Us */
.content-form .card{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);  
    padding: 40px;
}
/* button-section */
.button-sec{
    background-color: white;
}
.button-section{
    float: left;
}

.img-set{
    width: 60%;
}











.btn-type{
    color: #5ba533;
    border: 1px solid #5ba533;
    padding: 15px 35px;
    border-radius: 5px;
    
}
.btn-type:hover{
    color: white;
    border: 1px solid #5ba533;
    background-color: #5ba533;
    
}

.btn-typee{
    color: white;
    background-color: #5ba533;
    padding: 15px 35px;
    border-radius: 5px;
    
}
.btn-typee:hover{
    color: white;
    background-color:  black;
    
}


/* footer */
.mb-0{
    font-size: 15px;
}